@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Collab With Entra ID</h1>
    <p style="text-align: left;">User Claims</p>
    <ul style="text-align: left;">
        @foreach (var claim in Model)
        {
            <li>@claim</li>
        }
    </ul>
</div>
